<% provide(:title, 'Help') %>

<h1>
	Help
</h1>
<p>
	You can search for help at: <a href="http://twt.liviupetri.com/static_pages/help"> search help</a>.

	To find out how others use T3App at <a href="twt.liviupetri.com"> T3App hacks page</a>
</p>
